body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.debug {
  display: none;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 940px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 1 - 30px);
  width: calc(100% / 12 * 1 - 30px);
  height: inherit;
  outline: 0;
  background: rgba(0, 0, 0, 0.4);
}

.title {
  text-align: center;
  font-size: 30px;
}

.question {
  max-width: 1000px;
  min-width: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.question .cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.question .cards > div {
  max-width: 150px;
  margin: 10px;
}

.question .cards > div img {
  vertical-align: middle;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid #8fb0ff;
  background-color: #8fb0ff;
}

.question .variants {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.question .variants > div {
  max-width: 150px;
  margin: 10px;
}

.question .variants > div img {
  vertical-align: middle;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid #8fb0ff;
  background-color: #8fb0ff;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.question .variants > div img.check {
  border-color: #57ff89;
}

@-webkit-keyframes flipIn {
  from {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }

  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flipIn {
  from {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }

  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes flipOut {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  to {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes flipOut {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  to {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

.flipIn {
  -webkit-animation: flipIn .3s linear;
          animation: flipIn .3s linear;
}

.flipOut {
  -webkit-animation: flipOut .3s linear;
          animation: flipOut .3s linear;
}

@media screen and (max-width: 980px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */
