body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.debug {
  display: none;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 940px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100% / 12 * 1 - 30px);
  width: calc(100% / 12 * 1 - 30px);
  height: inherit;
  outline: 0;
  background: rgba(0, 0, 0, 0.4);
}

section {
  min-width: -webkit-calc(100vw - 40px);
  min-width: calc(100vw - 40px);
  min-height: -webkit-calc(100vh - 40px);
  min-height: calc(100vh - 40px);
  margin: 20px;
  background-color: #eee;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-bottom: 30px;
}

section .details .left {
  margin: 10px;
  width: 50%;
}

section .details .left .description {
  border: 1px solid red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 220px;
}

section .details .left .price {
  margin: 30px auto 0;
  height: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  color: #0060FF;
}

section .details .right {
  margin: 10px;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .details .right .pizza {
  border: 1px solid red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

section .details .right .order {
  text-align: center;
}

section .details .right .order button {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #0060ff;
  font-size: 26px;
  color: white;
  margin-top: 30px;
}

section .ingredients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  border-top: 2px solid #999;
}

section .ingredients .item {
  width: 25%;
  margin: 10px;
}

section .ingredients .item .title {
  font-size: 24px;
  text-align: center;
  border-bottom: 2px solid #999;
  padding-bottom: 15px;
}

section .ingredients .item ul {
  margin-top: 15px;
}

section .ingredients .item ul li {
  background-color: #aed3ff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 15px 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

section .ingredients .item ul li.active {
  background-color: #72ff80;
}

@media screen and (max-width: 980px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */
